@font-face {
  font-family: Roboto-light;
  src: url(Roboto-Light.woff);
}

.header{
  color: white;
  font-family: Roboto-light;
  background-color:#0072AD;
  padding:10px;
  margin-top:10px;
  margin-bottom:10px;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    font-family: Roboto-light;
    width: 70%;
    margin: auto;
  }
  body {
    background-color: #D9EDF7;
  }
  .row{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #Slideform {
    background-image:url('img/background.png');
    background-size: cover;
  }
  form, form input {  
    
    padding: 20px 30px;
    color: white;
  }
  .row img{
    margin:auto;
    display: block;
    vertical-align: middle;
    width: 100%;
  }
  
  #footer{
    color: #64626C;
    background-color: #F9F9F9;
    font-size: 20px;
    font-weight: bold;
  }
 .navbar, .nav-pills, .nav-header{
  padding:10px;
  font-size:20px;
  
 }
 img.img-responsive.img-rounded.imgBottom {
    margin-bottom: 15px;
}
.center{
  display:block;
  margin: auto;
}
img.img-rounded.img-responsive.bottomimg {
    max-width: 50%;
}
 @media screen and (max-width: 768px){
  .col-xs-4, .col-xs-8 {
    padding-left: 5px;
    padding-right: 5px;
}
.navbar, .nav-pills, .nav-header{
  padding:10px;
  font-size:15px;  
 }
 .header h2{
  font-size:25px;
 }
 .header h3{
  font-size:20px;
 }
img.img-responsive.img-rounded.imgBottom {
    margin-bottom: 5px;
}
form, form input {
    padding: 20px 50px;
    color: white;
}
}
@media screen and (min-width:1024px){
  form, form input {
    padding: 20px 150px;
    color: #f2f2f2;
}
}
 