   p {
            font-size:130%;
        }
        li {
            font-size:115%;
        }
   #wrapper{
    width: 100%;
   }
  .menu , .menu li {
    display: inline-block;
    padding: 5px;
        
  }
  .menu a{
    text-decoration: none;
    color: #8b8a8c;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 12px;
  }
  #menuleft{
    position:relative;
    left:50px;
  }
  #menuright{
    float:right;
    position:relative;
    right:50px;
  }
     
       #title {
        position: absolute;
        margin-top:150px;
        margin-left:70px;
        color:white;
        clear:both;
       }
       #title h1 {
        font-size: 65px;
       }
       #title p {
        position:relative;
        bottom: 40px;
        font-family:sans-serif;
        font-size: 24px;
       }
       #title1 {
       font-family: sans-serif;
       background-color: #dddddd;
       width: inherit;
       display: inline-block;
       
       
       }
       #title1 p {
        font-size: 15px;
        text-indent: 70px;
       }
        #title1 h2 {
        
        text-indent: 70px;
       }
    
       .box {
        float: left;
        padding: 10px;
        width:31%;        
        margin:5px;
        
             }
      .box img{
        display: block;
        padding: 5px;
        background-color: #dddddd;
        margin:auto;
      }
      .footermain {    
       display:inline-block;
       font-family: sans-serif;
       background-color: #F7F7F7;       
       
      }
       .footer {
       float:left;
       width: 25%;
       margin: 10px;
       font-size: 85%;
       padding: 20px;
       position:relative;
       left: 40px;
       }
       #footer2 {
        position: relative;
        left: 90px;
       }
       #footer3 {
        position: relative;
        left: 150px;
       }